.header{
  height: 10vh;
  padding: 1rem;
  width: 100%;
  position: fixed;
  top:0;
  z-index:999;
}

.dark{
  background-color: #121212;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.light{
  background-color: rgb(255, 255, 255);
  -webkit-box-shadow: 0px 5px 4px -4px rgba(242,242,242,1);
-moz-box-shadow: 0px 5px 4px -4px rgba(242,242,242,1);
box-shadow: 0px 5px 4px -4px rgba(242,242,242,1);
  
}
.logo{
  width: 45px;
  height: 45px;
  object-fit: contain;
}

.headerLogo{
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchBarWrapper{
  width: 30%;
  align-self: center;
  display: flex;
  border: 1px solid #ccc;
  border-radius: 25px;
}

.searchBar{
  background-color: transparent;
  color: inherit;
  outline: none;
  width: 100%;
  border: none;
}

.searchBtn{
  background-color: transparent;
  border:none;
  color: inherit;
  padding-right: 5px;
}

.avatar{
  height: 45px;
  width: 45px;
}

.headerLink{
  text-decoration: none;
  color: inherit;
}

@media(max-width:876px){
  .header{
    height: 7vh;
  }
}

@media(max-width: 576px){
  .header{
    padding: 1rem;
  }
  .searchBarWrapper{
    width: 30%;
  }
  .logo{
    height: 25px;
    width: 25px;
  }
  .darkModeText{
    display: none;
  }
  .avatar{
    height: 20px;
    width: 20px;
  }
  .header{
    height: 5vh;
  }

}
