.sidebar{
  width: 250px;
  height: 100vh;
  display: flex;
  flex-direction:column;
  transition: transform 0.2s ease-in;
  position: sticky;
  top:10vh;
  left: 0;
}

.sidebarItem{
  cursor: pointer;
  padding: 5px;
}

.sidebarItem:hover{
  background-color: rgba(182, 182, 182, 0.288);
  border-radius: 8px;
}

.sidebarItemName{
  font-weight: 500;
  letter-spacing: 0.2px;
  font-size: 14px;
}

.dark{
  background-color: #121212;
}

.light{
  background-color: #fff;
}

@media (max-width:1400px){
  .sidebar{
    width: 200px;
  }
}

@media (max-width:1200px){
  .sidebar{
    width: 180px;
  }
}

@media (max-width:992px){
  .sidebar{
    width: 160px;
  }
}

@media (max-width:876px){
  .sidebar{
    width: 50px;
  }
  .sidebarItem{
    justify-content: center;
  }
  .sidebarItemName{
    display: none;
  }
}

@media (max-width:576px){
  .sidebar{
    transform: translateX(-100%);
    position: fixed;
    z-index: 999;
  }

  .sidebar.open{
    transform: translateX(0);
  }
}