*{
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}
body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.1px;
}

body::-webkit-scrollbar {
  display: none;
}

@media (max-width:576px) {
  html{
    font-size: x-small
  }
}